@import '../../assets/css/mixins.scss';

.cardCat{    
    @include pageTitle;
}

.dossier{   
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    width: 60%;
}

.dossierInner{    
    @include flexLayout;    
    margin: auto;
}

#dossierLayout{
    @include flexLayout;
    margin: 50px auto auto;
}