@import '../../assets/css/mixins.scss';

.cardCat{    
    @include pageTitle;
}

.dossierInner{    
    @include flexLayout;    
    margin: auto;
}

.dossierLayout{
    @include flexLayout;
    @include pageBg();
    align-items: flex-start;
    margin: 50px auto auto;
}

.pageHeader{
		margin: auto;
		text-align: center;
}

.pageIcon{
		@include pageIcon();
		margin: auto;
}