@import '../../assets/css/mixins.scss';

li{
    background-color: $cardBgColor;
    border: 2px solid transparent;
    border-radius: 3px 0px;
    cursor: initial;
    display: inline;
    float: left;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
		&:hover{
			border-color: $red;
		}
}

.cardCat{
    @include pageTitle;
}

.date{
    color: $textColor;
    float:left;
    font-weight: 600;    
}

.info{
  @include flexLayout;
	display: grid;
	grid-column-gap: 4%;
	grid-template-columns: repeat(4, 20%);
	grid-template-rows: auto;
	justify-content: center;
	margin:auto;
}

.introBit{
    @include textFont();
}

.infocast{
    @include flexLayout;
    @include pageBg();
    align-items: flex-start;
    margin: 50px auto auto;
}

.pageHeader{
    margin: 0px auto;
    text-align: center;
}

.pageIcon{
    @include pageIcon();
    margin: auto;
}

.title{
    @include titleFont();
    float: left;
    line-height: .9em;
}

@media all and (min-width: 360px) and (max-width: 800px){
	.info{
		@include flexLayout;
		display: grid;
		grid-column-gap: 4%;
		grid-template-columns: 92%;
		grid-template-rows: auto;
		justify-content: center;
		margin:auto;
	}
}

@media all and (min-width: 801px) and (max-width: 1200px){
	.info{
		@include flexLayout;
		display: grid;
		grid-column-gap: 3%;
		grid-template-columns: repeat(2, 45%);
		grid-template-rows: auto;
		justify-content: center;
		margin:auto;
	}
}

@media all and (min-width: 1201px) and (max-width: 1400px){
	.info{
		@include flexLayout;
		display: grid;
		grid-column-gap: 2%;
		grid-template-columns: repeat(3, 30%);
		grid-template-rows: auto;
		justify-content: center;
		margin:auto;
	}
}