@import '../../assets/css/mixins.scss';

li{
    display: inline;
    position: relative;
    border-radius: 10px 0px;
    padding: 10px;
    width: 20%;
    float: left;
    background-color: $cardBgColor;
    border: 2px solid $cardBorder;
    margin-top: 10px;   
}

.infocast{
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.introBit{
    @include descFont();
}

.title{
    @include titleFont();
    float: left;
    line-height: .9em;
}

.date{
    color: $descColor;
    font-weight: 600;
    float:left;
}

.info{
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardCat{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.3em;
    font-weight: 800;
    margin: 10px;
    color: $titleColor;
}