<div class= 'infocast' fxLayoutAlign = "space-around" @pageLoadAnimation>
    <div><img class="pageIcon" src="../../assets/img/infocast.png" /><span class="cardCat">Infocast</span></div>
    <ul class = 'info' fxLayoutAlign = "space-around">
        <li *ngFor = "let jsonInfocast of jsonInfocasts"
            (click)="onSelect(jsonInfocast)"
            audioEffectsHover
            audioEffectsClick>
            <span class = 'title'>{{ jsonInfocast.title }}</span><br/>
            <span class="date">{{ (jsonInfocast._created | amFromUnix) | amDateFormat:'dddd, LL' }}</span><br/><br/>
            <div class="introBit" [innerHTML] = "jsonInfocast.content"></div>
        </li>
    </ul>
</div>