@import '../../assets/css/mixins.scss';

li{
    background-color: $cardBgColor;
    border: 2px solid transparent;
    border-radius: 3px 0px;
    cursor: initial;
    display: inline;
    float: left;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 20%;
		&:hover{
			border-color: $red;
		}
}

.cardCat{
    @include pageTitle;
}

.date{
    color: $textColor;
    float:left;
    font-weight: 600;    
}

.info{
    @include flexLayout; 
    flex-wrap: wrap;
}

.introBit{
    @include textFont();
}

.infocast{
    @include flexLayout;
    @include pageBg();
    align-items: flex-start;
    margin: 50px auto auto;
}

.title{
    @include titleFont();
    float: left;
    line-height: .9em;
}