<div id="article" [@articleAnimation]="articleState">
    <ng-container *ngFor = "let jsonArticle of jsonArticles; let index = index">
        <ng-container *ngIf = "index == 0">
            <span class="aTitle">{{ jsonArticle.title }}</span><br/>
            <span class ="aDate">{{ (jsonArticle._created | amFromUnix) | amDateFormat:'dddd, LL' }}</span><br/> 
            <div id= "pageContent" 
                [paginator]= "jsonArticle.content"
                [@pageInOutAnimation]="pageInOut"></div>     
        </ng-container>
    </ng-container>
    <ng-container *ngIf= "pageList.length != 1">
    <div class="paginate">
        <ul id="pagination" >
            <li *ngFor= "let page of pageList"
                (click)= "jumpToPage(page)"
                audioEffectsHover
                audioEffectsClick>{{ page }}</li>
        </ul>
        Page {{ currentPage }} of {{ pageJumper.length }}
    </div>
    </ng-container>
</div>