@import '../../assets/css/mixins.scss';

li{
    color: $firstLetter;
    display: inline;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0px 0px 1px #000;
    &:hover{
        color: $red;
    }
}

ul{
    padding: 0;
}

.paginate{    
    margin:auto;
    text-align: center;
}

.aTitle{
    @include aTitle();
}

.aDate{
    @include aDate();
}

.firstLetter{
	@include firstLetter();
}

#article{
    @include textFont();
    background-color: $articleBG;
    margin: 50px auto auto;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    width: 85%;
}

#pageContent{
	columns: 2 38vw;
	column-gap: 40px;
	column-rule: 2px solid $firstLetter;
	display: inline-block !important;
	margin: 0px 2.5%;
	max-height: 90vh;
	max-width: 100vw;
	padding: 10px 0px 10px 0px;    
	text-align: left;
}


#pagination{
    list-style-type: none;
}

@media all and (min-width: 360px) and (max-width: 900px){
	#pageContent{
		columns: initial;
		display: inline-block !important;
		margin: 0px 2.5%;
		max-height: 90vh;
		max-width: 100vw;
		padding: 10px 0px 10px 0px;    
		text-align: left;
	}
}

@media all and (min-width: 901px) and (max-width: 1200px){
	#pageContent{
		columns: 2 38vw;
		column-gap: 40px;
		column-rule: 2px solid $firstLetter;
		display: inline-block !important;
		margin: 0px 2.5%;
		max-height: 90vh;
		max-width: 100vw;
		padding: 10px 0px 10px 0px;    
		text-align: left;
	}
}

@media all and (min-width: 1201px) and (max-width: 1400px){
	#pageContent{
		columns: 2 38vw;
		column-gap: 40px;
		column-rule: 2px solid $firstLetter;
		display: inline-block !important;
		margin: 0px 2.5%;
		max-height: 90vh;
		max-width: 100vw;
		padding: 10px 0px 10px 0px;    
		text-align: left;
	}
}
