@import '../../assets/css/mixins.scss';

li{
    background-color: $cardBgColor;
    border: 2px solid $border;
    border-radius: 10px 0px;
    display: inline;
    float: left;
    margin-top: 10px;
    padding: 10px;
    position: relative;   
    width: 20%;
    &:hover{
        border-color: $red;
    }    
}

.article{
    @include flexLayout;
    flex-wrap: wrap;
}

.cardCat{
    @include pageTitle;
}

.date{
    color: $textColor;
    float:left;
    font-weight: 600;    
}

.fictionarium{
    @include flexLayout; 
    @include pageBg();  
    margin: auto;

}

.introBit{  
    @include textFont();
    @include firstLetter();    
}

.title{
    @include titleFont();
    float: left;
    line-height: .9em;
}
