<div @pageLoadAnimation>
    <ng-scrollbar class='fictionarium' fxLayoutAlign="space-around">
        <div><span class="cardCat">Fictionarium</span></div>
        <ul class='article' fxLayoutAlign="space-around">
            <li *ngFor = "let jsonArticle of jsonArticles"
                (click)="onSelect(jsonArticle)"
                audioEffectsHover
                audioEffectsClick>
                <span class='title'>{{ jsonArticle.title }}</span><br/>
                <span class="date">{{ (jsonArticle._created | amFromUnix) | amDateFormat:'dddd, LL' }}</span><br/><br/>
                <div class="introBit" [innerHTML]="introArticle(jsonArticle.content)"></div>
            </li>
        </ul>
    </ng-scrollbar>
</div>