@import '../../assets/css/mixins.scss';


li{
    background-color: $cardBgColor;
    border: 2px solid transparent;
    border-radius: 3px 0px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;   
    width: 20%;
    &:hover{
        border-color: $red;
    }    
}

ul{
    margin-bottom: 10px;
}

.article{
    @include flexLayout;
    flex-wrap: wrap;
		margin:auto;
}

.cardCat{
    @include pageTitle;
}

.cardCatContainer{
	width: 10%;
}

.date{
    color: $textColor;
    float: right;
    font-weight: 600;    
}

.fictionarium{
    @include flexLayout;
    @include pageBg();
    flex: 1;
    margin: 50px auto auto;
    height: 90vh;
    min-height: 0;
    overflow: hidden;
}

.fictionarium-inner{
    @include flexLayout;
    margin: 0 auto auto;
}

.introBit{  
    @include textFont();
    @include firstLetter();    
}

.title{
    @include titleFont();
    line-height: .9em;
}

.scrollinator {
  --scrollbar-color: transparent;
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: rgba(123, 0, 0, 0.8);
  --scrollbar-thumb-hover-color: rgba(123, 0, 0, 1.0);
  --scrollbar-border-radius: 4px;
	--scrollbar-size: 8px;
  --scrollbar-padding: 8px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;
}

.spacer{
	min-height: 100px;
}
