@import '../../assets/css/mixins.scss';

li{
    background-color: $cardBgColor;
    border: 2px solid transparent;
    border-radius: 3px 0px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;   
    width: 20%;
    &:hover{
        border-color: $red;
    }    
}

ul{
    margin-bottom: 10px;
}

.article{
    @include flexLayout;
    flex-wrap: wrap;
}

.cardCat{
    @include pageTitle;
}

.date{
    color: $textColor;
    float: right;
    font-weight: 600;    
}

.fictionarium{
    @include flexLayout;
    @include pageBg();
    flex: 1;
    margin: 50px auto auto;
    height: 90vh;
    min-height: 0;
    overflow: auto;
}

.fictionarium-inner{
    @include flexLayout;
    margin: 0 auto auto;
}

.introBit{  
    @include textFont();
    @include firstLetter();    
}

.ps_rail-y{
    display: none !important;
}

.title{
    @include titleFont();
    line-height: .9em;
}

.spacer{
	min-height: 100px;
}