@import '../../assets/css/mixins.scss';

li{
    color: $red;
    display: inline;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;    
}

ul{
    padding: 0;
}

.aDate{
    @include aDate();
}

.aTitle{
    @include aTitle();
}

.firstLetter{
    @include firstLetter();
}

.paginate{    
    margin:auto;
    text-align: center;
    width: 30%;
}

#modalContent{    
    background-color: $articleBG;
    columns: 2 39vw;
    column-gap: 40px;
    column-rule: 2px solid #000;
    margin: auto;
    max-height: 90vh;
    max-width: 100vw;
    padding: 10px 40px 10px 40px !important;
    text-align: left;
}

#pagination{
    list-style-type: none;
}