<div *ngIf="data">
    <span class="aTitle">{{ data.title }}</span><br/>
    <span class="aDate">{{ (data.date | amFromUnix) | amDateFormat:'dddd, LL' }}</span><br/>
    <div id="modalContent" 
         [paginator]= "data.content"
         [@pageInOutAnimation]="pageInOut"></div>
</div>
<ng-container *ngIf= "pageList.length != 1">
<div class="paginate">
    <ul id="pagination" >
        <li *ngFor= "let page of pageList"
            (click)= "jumpToPage(page)"
            audioEffectsHover
            audioEffectsClick>
            {{ page }}
        </li>
    </ul>
    Page {{currentPage }} of {{ pageJumper.length }}
</div>
</ng-container>