<a routerLink="">
    <img src="../../assets/img/foyer.jpg" class="img" id="menuSource"/>
</a>
<ul class="menuList" id="mainMenu">
    <li class="menuItem">
        <a routerLink="dossier">
            <img src="../../assets/img/dossier.jpg" class="img menuImg" id="dossier"/>
        </a>
        <div class="tooltip" id='first'>Dossier</div>
    </li>
    <li class="menuItem">
        <a routerLink="fictionarium">	
            <img src="../../assets/img/fictionarium.jpg" class="img menuImg" id="fictionarium"/>
        </a>
        <div class="tooltip" id='second'>Fictionarium</div>
    </li>
    <li class="menuItem">
        <a routerLink="plexus">
            <img src="../../assets/img/plexus.jpg" class="img menuImg" id="plexus"/>
        </a>
        <div class="tooltip" id='third'>Plexus</div>
    </li>
    <li class="menuItem">
        <a routerLink="infocast">
            <img src="../../assets/img/infocast.jpg" class="img menuImg" id="infocast"/>
        </a>
        <div class="tooltip" id='fourth'>Infocast</div>
    </li>
</ul>

