$articleBG: rgba(26, 26, 26, 0.85);

$bgColor: #000;

$border: #525252;

$cardBgColor: #1a1a1a;

$firstLetter: #d42329;

$modalBG: rgba(26, 26, 26, 0.95);

$pageBg: rgba(0, 0, 0, 0.6);

$red: #d42329;

// $red: #7b0000;

$textColor: #8e8e8e;

$titleColor: #fff;

$alsoRed: #d42329;