$articleBG: rgba(26, 26, 26, 0.85);

$bgColor: #000;

$border: #525252;

$cardBgColor: #1a1a1a;

$firstLetter: #93160f;

$modalBG: rgba(26, 26, 26, 0.95);

$pageBg: rgba(0, 0, 0, 0.6);

$red: #7b0000;

$textColor: #8e8e8e;

$titleColor: #d1d1d1;