@import '../../assets/css/mixins.scss';

hr{
    background-color: $red;
    border: 1px solid $red;
    height: 1px;
    width: 70%;
}

.card{
    background-color: $cardBgColor;
    border: 2px solid $border;
    border-radius: 10px 0px;
    float: left;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 25%;
    &:hover{
        border-color: $red;
    }           
}

.cardCat{
    @include pageTitle;
}

.cardDesc{
    @include textFont();
}

.cardLink{
    @include linkFont();
}

.cardTitle{
    @include titleFont();
}

.visualArts{    
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.writersBloc{
    @include flexLayout; 
    flex-wrap: wrap;
    margin: auto;
}

#plexusLayout{
    @include flexLayout; 
    @include pageBg();
    flex-direction: column;
    margin: auto;
}