@import '../../assets/css/mixins.scss';



.card{
    background-color: $cardBgColor;
    //border: 2px solid $border;
    border-radius: 3px 0px;
    float: left;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 25%;
    &:hover{
        border-color: $red;
    }           
}

.cardBloc{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 95%;
    margin: auto;

}

.cardCat{
		@include pageTitle;
}

.cardDesc{
    @include textFont();
}

.cardLink{
    @include linkFont();
}

.cardTitle{
    @include titleFont();
}

.pageHeader{
		margin: auto;
		text-align: center;
}

.pageIcon{
		@include pageIcon();
		margin: auto;
}

.plexusLayout{
    @include flexLayout;
    @include pageBg();
    align-items: flex-start;
    margin: 50px auto auto;
}

.visualArts{
    display: flex;		
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 95%;
}

.writersBloc{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 95%;
}

#plexusLayout{
    @include pageBg();
    margin: 50px auto auto;
    padding: 10px;
    width: 90%; 
}