<div id="plexusLayout" @pageLoadAnimation>
    <div class="pageHeader" fxLayoutAlign="space-around" fxLayout="column">
			<img class="pageIcon" src="../../assets/img/plexus.png" />
			<span class="cardCat">Plexus</span>
			<hr/>
		</div>
    <div class="visualArts" fxLayoutAlign="space-around" fxLayout="wrap">
        <div><span class="cardCat">Visual Arts</span></div>
        <div class="cardBloc" fxLayoutAlign="space-around" fxLayout="wrap">
            <a class="card" href="http://www.behance.net" target="_blank"
                audioEffectsHover
                audioEffectsClick>
                <div>
                    <span class="cardTitle">Behance</span><br/>
                    <span class="cardLink">behance.net</span><br/>
                    <span class="cardDesc">The leading online platform to showcase &amp; discover creative work. Our Mission: To empower the creative world to make ideas happen</span>
                </div>
            </a>
            <a class="card" href="http://www.artstation.com" target="_blank"
                audioEffectsHover
                audioEffectsClick>
                <div>
                    <span class="cardTitle">Art Station</span><br/>
                    <span class="cardLink">artstation.com</span><br/>
                    <span class="cardDesc">ArtStation is the showcase platform for games, film, media &amp; entertainment artists.</span>
                </div>
            </a>
            <a class="card" href="http://www.deviantart.com" target="_blank"
                audioEffectsHover
                audioEffectsClick>
                <div>
                    <span class="cardTitle">Deviant Art</span><br/>
                    <span class="cardLink">deviantart.com</span><br/>
                    <span class="cardDesc">The largest online social network for artists and art enthusiasts, and a platform for emerging and established artists to exhibit, promote, and share their works</span>
                </div>
            </a>
        </div>
    </div>
    <hr/>
    <div class="writersBloc" fxLayoutAlign="space-around" fxLayout="wrap">
			<div><span class="cardCat">Writers Bloc</span></div>
			<div class="cardBloc" fxLayoutAlign="space-around" fxLayout="wrap">
					<a class="card" href="http://nightmare-magazine.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Nightmare Magazine</span><br/>
									<span class="cardLink">nightmare-magazine.com</span><br/>
									<span class="cardDesc">Nightmare is a horror and dark fantasy magazine. In Nightmare’s pages, you will find all kinds of horror fiction, from zombie stories and haunted house tales, to visceral psychological horror.</span>
							</div>
					</a>
					<a class="card" href="http://apex-magazine.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Apex Magazine</span><br/>
									<span class="cardLink">apex-magazine.com</span><br/>
									<span class="cardDesc">Apex Magazine is an online prose and poetry magazine of science fiction, fantasy, horror, and mash-ups of all three.</span>
							</div>
					</a>
					<a class="card" href="http://bizarrocentral.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Bizzaro Central</span><br/>
									<span class="cardLink">bizarrocentral.com</span><br/>
									<span class="cardDesc">Bizarro isn’t just weird fiction, it is DAMN GOOD weird fiction. And it grows exponentially every single day, so, love it or hate it, you’ll be seeing a lot more of it in the years to come.</span>
							</div>
					</a>
					<a class="card" href="http://darkmarkets.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Dark Markets</span><br/>
									<span class="cardLink">darkmarkets.com</span><br/>
									<span class="cardDesc">DarkMarkets.com has been a free market resource for horror writers since 2001. You'll find new and established publishers in our database.</span>
							</div>
					</a>
					<a class="card" href="http://waylinesmagazine.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Waylines</span><br/>
									<span class="cardLink">waylinesmagazine.com</span><br/>
									<span class="cardDesc">Waylines is a bi-monthly speculative fiction magazine of science-fiction, fantasy, and horror. Our goal is to capture the "bang" in speculative fiction - that mindbending, wow factor.</span>
							</div>
					</a>
					<a class="card" href="http://lamplightmagazine.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">LampLight</span><br/>
									<span class="cardLink">lamplightmagazine.com</span><br/>
									<span class="cardDesc">A magazine focusing on the darker side of fiction. But it is not intended to be a book of gore and slime, rather to go back to the previous generation of “weird” stories.</span>
							</div>
					</a>
					<a class="card" href="http://strangehorizons.com" target="_blank"
							audioEffectsHover
							audioEffectsClick>
							<div>
									<span class="cardTitle">Strange Horizons</span><br/>
									<span class="cardLink">strangehorizons.com</span><br/>
									<span class="cardDesc">Strange Horizons is a weekly magazine of and about speculative fiction. We publish fiction, poetry, reviews, essays, interviews, roundtable discussions, and art.
									Our definition of speculative fiction includes science fiction, fantasy, horror, slipstream, and all other flavors of fantastika.</span>
							</div>
					</a>
			</div>
    </div>
</div>
