/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/css/mixins.scss';

::selection{
    color: $red;
    background-color: rgba(0,0,0,0);
}


a{
    text-decoration: none;
    color: $firstLetter;
}

body{
    height: 90vh;
    margin: 0px;
		background-attachment: fixed;
    background-image: url('assets/img/bg_05.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $bgColor;
    font-size: 16px;
}

div p{
	@include firstLetter();
	margin: 0px;
}

hr{
    background-color: $red;
    border: 1px solid $red;
    height: 1px;
    width: 70%;
}

html{
    padding: 0px;
}

li{
    list-style: none;
    cursor: pointer;
}

ul{
    margin: 0px;
    text-decoration: none;
}

.cdk-overlay-pane{
    max-width: 90vw !important;
}

.header{
    font-size: 2.5em;
    font-weight: 600;
    color: $titleColor;
}

.mat-dialog-container{
    background: $modalBG;
    padding: 25px 0px 10px 0px !important;
}


